body{
  font-family: Arial, sans-serif;
  margin:0;
  background:#f4f6f9;
}

header{
  background:#1e3a8a;
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

nav a{
  margin:0 10px;
  cursor:pointer;
  font-weight:bold;
}

.page{
  padding:30px;
}

.hidden{
  display:none;
}

.card{
  background:white;
  padding:20px;
  margin:10px 0;
  border-radius:10px;
  box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

input, textarea{
  display:block;
  width:300px;
  padding:10px;
  margin:10px 0;
}

button{
  background:#2563eb;
  color:white;
  border:none;
  padding:10px 15px;
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#1e40af;
}

footer{
  text-align:center;
  padding:20px;
  background:#111;
  color:#aaa;
  margin-top:40px;
}